*{
    margin: 0px;
    padding: 0px;

}

.section1 {
    position: sticky;
    top :0;
    z-index: 5;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: beige;
    background-color: #333333;

}

.nav {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 800px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

a {
    text-decoration: none;
    color: white;
    transition: all .3s, transform 0.3s ;
}


.s1o {
    color: #333333;
}

.nav-dropdown-list {
    display: none;
    width: 200px;
    background-color: #333333;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.list {
    padding: 5px 0 5px 5px;
    transition: all 0.2s ease 0.1s;
    color: white;
}

.list:hover {
    background-color: orange;
    transform: scale(1.01);

}

.nav-dropdown {
    color: white;
    transition: all 0.2s ease 0.01s;
}

.nav-dropdown:hover {
    position: relative;
    color: orange;
}

.nav-dropdown:hover  .nav-dropdown-list {
    display: block;
    position: absolute;
    color: white;
}

.nav-a:hover {
    color: orange;
}


/* section 1 complete */

.section2 {
    background-color: #f4f4f4;
    height: 1800px;
}

.s2h1 {
    background-color: #fec20c;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    height: 24px;
    width: 1420px;
    padding: 20px;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 700px;
    align-content: center;
}

.form {
    background-color: white;
    height: 550px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.s2p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    font-weight: 550;
}

.s2in {
    padding: 1px;
    border: 2px solid black;
    border-radius: 8px;
    height: 30px;
    width: 300px;
}

.formlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.s2a {
    color: purple;
    text-decoration: underline;
}

.s2b {
    background-color: rgb(24, 184, 24);
    height: 35px;
    width: 300px;
    border-radius: 10px;
    border:none;
    color: white;
    font-size: 16px;
    font-weight: 550px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
}

.s2b:hover {
    transform: scale(1.1);
}

.s2p2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 580px;
}

.s2a {
    margin: 0px 0px 0px 108px;
    font-size: 16px;
}



/* section 2 is completed  */



.section3 {
    height: 80px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


